<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Sweeper</title>
      <link href="/assets/style.css" rel="stylesheet" />
	</head>
	<body>
      <div class="board" style="--width: {{ width }}">
         {% for row in rows %}
            {% set row_loop = loop %}
            {% for tile in row %}

               {% if 'Revealed' in tile.state %}
               <button disabled>{{ tile.num_adjacent }}</button>
               {% elif 'Flagged' in tile.state %}
               <form method="post" action="/game/{{ game_id }}/flag">
                  <input type="hidden" name="row" value="{{ row_loop.index0 }}" />
                  <input type="hidden" name="col" value="{{ loop.index0 }}" />
                  <button type="submit">🚩</button>
               </form>
               {% else %}
               <form method="post" action="/game/{{ game_id }}/reveal">
                  <input type="hidden" name="row" value="{{ row_loop.index0 }}" />
                  <input type="hidden" name="col" value="{{ loop.index0 }}" />
                  <button type="submit">R</button>
                  <button type="submit" formaction="/game/{{ game_id }}/flag">F</button>
               </form>
               {% endif %}

            {% endfor %}
         {% endfor %}
      </div>
	</body>
</html>
