<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Sweeper</title>
	</head>
	<body>
		<h1>Sweeper</h1>
		<p>A shameless Minesweeper clone to practice Rust</p>

		<form method="post" action="/new">
			<label for="rows">Rows</label>
			<input id="rows" name="rows" type="number" min="5" max="50" value="10" />

			<label for="cols">Columns</label>
			<input id="cols" name="cols" type="number" min="5" max="50" value="10" />

			<button type="submit">Start Game</button>
		</form>
	</body>
</html>
