<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Sweeper</title>
	</head>
	<body>
		<h1>Sweeper</h1>
		<p>A shameless Minesweeper clone to practice Rust</p>

		<form method="post" action="/new">
			<label for="width">Width</label>
			<input id="width" name="width" type="number" min="1" max="255" value="10" />
			
         <label for="height">Height</label>
			<input id="height" name="height" type="number" min="1" max="255" value="10" />

			<label for="mines">Mines</label>
			<input id="mines" name="mines" type="number" min="1" max="65025" value="15" />

			<button type="submit">Start Game</button>
		</form>
	</body>
</html>
